.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2em;
    width: 100%;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    width: 100%;
    background-color: var(--PrimaryColor);
    border: 2px solid #F5F5F5;
    border-radius: 0.4em;
    padding: 0 0.5em;
}

i{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    font-size:1.5em;
}

input{
    width: 100%;
    background-color: var(--PrimaryColor);
    border: none;
    padding:1em 0;
    transition: border-color 0.3s ease;
    outline: none;
}

input::placeholder{
    color: rgb(65, 65, 65);
}

.container:has(input:focus){
    transition: border-color 0.3s ease;
    border-color: #b8bdbd;
}

.buttonPasswordHidden{
    display: none;
}

.buttonPasswordShow{
    display: block;
    width: 10%;
    border: none;
    cursor: pointer;
    background-color: var(--PrimaryColor);
    color:#666565;
}

.icon{
    color:#666565;
}
