.LinkButton{
    text-decoration: none;
    width: fit-content;
}

.LinkHeader{
    color: var(--TextColor);
    margin: 0 1em;
}

.LinkLoginRegister{
    color: var(--SecondaryColor);
    font-size: 0.9em;
    font-weight: bold;
}
