:root{
  --FeedBackVisualSucesso: #3C9837;
  --FeedBackVisualError: #E41212;
  --FeedBackVisualAlert: #FFB703;
  --PrimaryColor: #ffffff;
  --SecondaryColor: #0077B6;
  --TextColor: #1F1F1F;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root{
  background-color: #EFEFEF;
  height: 100%;
  position: relative;
}

.maxSection{
  width: 80%;
}
