.containerImagem img{
    border-bottom-right-radius: 0.8em;
    border-top-right-radius: 0.8em;
    width: 100%;
    height: 100%;
}

.containerImagem{
    width: 35em;
    height: 25em;
}

.container{
    height: 100vh;
    width: 100%;
    background-color: #18292E;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkLogin{
    display: flex;
    gap: 0.3em;
}

.sessionRegister{
    width: 30em;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom-left-radius: 0.8em;
    border-top-left-radius: 0.8em;
    padding: 2em 5em;
    background-color: #F0F4F5;
}

.sessionLogin h2{
    text-align: left;
}

.form{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1em;
}