.LinkButton {
  text-decoration: none;
  width: fit-content;
}

.LinkHeader {
  color: var(--TextColor);
  margin: 0 1em;
  padding: 0.4em;
  font-size: 1.2em;
}

.LinkHeader:hover {
  background-color: var(--ColorHover);
  padding: 0.4em;
  border-radius: 0.5em;
}

.LinkMenu {
  color: var(--TextColor);
  padding: 0.4em;
  font-size: 1.2em;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}

.LinkMenu:hover {
  background-color: var(--ColorHover);
  padding: 0.4em;
  border-radius: 0.5em;
}

.LinkLoginRegister {
  color: var(--SecondaryColor);
  font-size: 0.9em;
  font-weight: bold;
}

.LinkButtonSaibaMais {
  text-shadow: 1px 1px 2px var(--TextColor);
  box-shadow: 1px 1px 10px var(--TextColor);
  border-radius: 0.5em;
  color: var(--PrimaryColor);
  background-color: var(--SecondaryColor);
  font-weight: bold;
  padding: 0.4em;
  font-size: 1.2em;
  width: 100%;
  text-align: center;
}
